@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --color-main: #0D96A0;
    --color-text: #505050;
    --color-border:#707070;
}

/*---------------
    base
---------------*/
html {
    -webkit-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: var(--color-text);
    font-size: 1.7rem;
    font-style: normal;
    line-height: calc(30 / 17);
    letter-spacing: 0;
}

#container {
    width: 100%;
    overflow: hidden;
}

/*---------------
common
---------------*/
/* PC, SPの非表示 */
@media (max-width: 767px) {
.pc {
   display: none !important;
  }
}
@media (min-width: 768px) {
.sp {
   display: none !important;
  }
}

.main {
    margin-top: 50px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.inner {
    max-width: 880px;
    margin-inline: auto;
}

.logo__image {
    width: auto;
    height: 50%;
    flex-shrink: 0;
    /* transform: translateY(-2px); */
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.section-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(36 / 25);
}

.section-title::before,
.section-title::after {
    content: "";
    width: 2.55rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-image: url(../img/asiato-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.section-title h2::before {
    left: -2rem;
}
.section-title h2::after {
    right: -2rem;
}

span {
    display: inline-block;
    white-space: nowrap;
}

/*---------------
header
---------------*/
.header {
    width: 100%;
    height: 5rem;
    background: #fff;
    padding-inline: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: inherit; 
}

.header__link {
    height: inherit;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(33 / 18);
    color: var(--color-text);
    display: flex;
    align-items: center;
    column-gap: 0.951rem;
}

.header__logo a {
    height: 5rem;
    display: flex;
    /* padding-top: 8px; */
    /* padding-bottom: 9px; */
    align-items: center;
    line-height: calc(33 / 18);
    font-size: 1.8rem;
    font-weight: 700;
    transition: opacity 0.4s;
}

@media (min-width: 768px) {
    .header__logo a:hover {
        opacity: 0.7;
    }
}

@media (max-width: 767px) {
    .header__logo a {
        font-size: 2rem;
    }
}

.header__nav ul {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header__nav ul li a {
    height: 5rem;
    display: flex;
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    align-items: center;
    line-height: calc(14 / 14);
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity 0.4s;
}

@media (min-width: 768px) {
    .header__nav ul li a:hover {
        opacity: 0.7;
    }
}

/*---------------
mv
---------------*/
.mv {
    position: relative;
}

.mv__image {
    aspect-ratio: 1080 /500;
    object-fit: cover;
}
@media (max-width: 767px) {
    .mv__image {
        aspect-ratio: 375 /550;
        object-fit: cover;
    }
}

.mv__contents {
    width: 45.56%;
    height: min(42%, 21rem);
    position: absolute;
    background: rgba(255, 255, 255, 0.72);
    top: 30.4%;
    left: 0;
    /* margin-top: 15.2rem; */
}

@media (min-width: 768px) {
    .mv__contents {
        padding-left:
            max(30px, calc((100% - 880px) / 2));
    }
}

.mv__catch p {
    font-size: min(
        calc(25 / 1080 * 100vw),
        2.5rem
    );
    font-weight: 700;
    line-height: calc(36 / 25);
    padding-top: min(
        calc(23 / 1080 * 100vw),
        2.3rem
    );
}

.mv__catch h2 {
    font-size: min(
        calc(40 / 1080 * 100vw),
        4rem
    );
    font-weight: 700;
    line-height: calc(60 / 40);
    color: var(--color-main);
    margin-top: min(
        calc(8 / 1080 * 100vw),
        0.8rem
    );
}

/*---------------
ご挨拶
---------------*/
.goaisatsu {
    padding: 6rem 3rem ;
    position: relative;
}

.goaisatsu__contents {
    margin-top: 1.5rem;
}

.goaisatsu__title h2 {
    font-size: 3rem;
    line-height: calc(50 / 30);
    font-weight: 700;
    color: var(--color-main);
    text-align: center;
}

.goaisatsu__contents p {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    text-align: center;
}

.goaisatsu__contents p span {
    /* display: inline-block; */
    /* white-space: nowrap; */
    z-index: 500;
}

.asiato__image {
    position: absolute;
    right: calc(
        max(3rem, calc((100% - 88rem) / 2))
        - 2.376rem
    );
    bottom: calc(6rem - 2.612rem);
    width: 8.375rem;
    z-index: 100;
    pointer-events: none;
}

.asiato__image img {
    width: 100%;
    height: auto;
}

/*---------------
強み
---------------*/
.tsuyomi {
    padding: 6.4rem 3rem 6.8rem;
    background: rgba(13, 150, 160, 0.102);
}

.tsuyomi__contents {
    margin-top: 4.8rem;
    display: grid;
    row-gap: 5rem;
}

.tsuyomi__item1 {
    display: grid;
    grid-template-columns: 
        minmax(0, 1fr)
        calc(440 / 880 * 100%);
    grid-template-areas: "textarea image";
    column-gap: calc(45 / 880 * 100%);
}

.tsuyomi__item2 {
    display: grid;
    grid-template-columns:
        calc(440 / 880 * 100%) 
        minmax(0, 1fr);
    grid-template-areas: "image textarea";
    column-gap: calc(45 / 880 * 100%);
}

.tsuyomi__textarea {
    grid-area: textarea;
    /* padding-top: calc(48 / 395 * 100%); */
    align-self: center;
}

.tsuyomi__image {
    grid-area: image;
}

.tsuyomi__textarea h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
}

/* .tsuyomi__textarea h3 span {
    display: inline-block;
    white-space: nowrap;
} */

.tsuyomi__textarea p {
    margin-top: calc(19 / 395 * 100%);
    font-size: 1.8rem;
    line-height: calc(33 / 18);
}

/*---------------
サービス
---------------*/
.service {
    padding: 6.3rem 3rem 5.9rem;
}

.service__contents {
    margin-top: 4.8rem;
}

.service__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(50 / 880 * 100%);
}

.service-item__image img {
    aspect-ratio: 260 / 200;
    object-fit: cover;
}

.service-item__textarea {
    margin-top: 1.9rem;
}

.service-item__textarea h3 {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    text-align: center;
}

/* .service-item__textarea p span {
    display: inline-block;
    white-space: nowrap;
} */

.service-item__textarea p {
    margin-top: 0.8rem;
}

/*---------------
お知らせ
---------------*/
.osirase {
    padding: 6.3rem 3rem 6.8rem;
    background: rgba(13, 150, 160, 0.102);
}

.osirase__contents {
    margin-top: 4.6rem;
}

.osirase__list li {
    display: grid;
    grid-template-columns: 
        11.1rem
        18.4rem
        minmax(0, 1fr);
    column-gap: 2.5rem;
    align-items: center;
    text-align: left;
    /* padding-block: 1.5rem; */
}

.osirase__date {
    padding-left: 1.9rem;
}

.osirase__list {
    border-top: 0.1rem solid var(--color-border);
}

.osirase__list li {
    border-bottom: 0.1rem solid var(--color-border);
}

.osirase__date {
    font-weight: 700;
    line-height: calc(25 / 17);
}

.osirase__subject {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);
    color: var(--color-main);
}

.osirase_desc {
    line-height: calc(30 / 17);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/*---------------
アクセス
---------------*/
.access {
    padding: 6.3rem 3rem 7rem;
}

.access__contents {
    margin-top: 4.6rem;
    display: grid;
    grid-template-columns: 
        calc(440 / 880 * 100%)
        minmax(0, 1fr);
    grid-template-areas: "image textarea";
    column-gap: calc(46 / 880 * 100%);
}

.access__textarea {
    grid-area: textarea;
}

.access__image {
    grid-area: image;
}

.access__textarea h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
}

.address {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}

.tel {
    display: flex;
    align-items: baseline;
    margin-top: 1.4rem;
}

.denwa {
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}

.number {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(40 / 22);
    color: var(--color-main);
}

.mail {
    margin-top: 0.8rem;
    margin-bottom: 2.7rem;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}

.mail span {
    transition: opacity 0.4s;
}

@media (min-width: 768px) {
    .mail span:hover {
        opacity: 0.7;
    }
}

.sinryo {
    font-size: 1.8rem;
    line-height: calc(40 / 18);
    padding-top: 1.5rem;
    padding-bottom: 1.4rem;
    border-top: 0.1rem solid var(--color-border);
    border-bottom: 0.1rem solid var(--color-border);
}