@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --color-main: #0D96A0;
    --color-text: #505050;
    --color-border:#707070;
    --color-background:rgba(13, 150, 160, 0.102);
}

/*---------------
    base
---------------*/
html {
    -webkit-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: var(--color-text);
    font-size: 1.7rem;
    font-style: normal;
    line-height: calc(30 / 17);
    letter-spacing: 0;
}

#container {
    width: 100%;
    overflow: hidden;
}

/*---------------
common
---------------*/
/* PC, SPの非表示 */
@media (max-width: 767px) {
.pc {
   display: none !important;
  }
}
@media (min-width: 768px) {
.sp {
   display: none !important;
  }
}

.main {
    margin-top: 50px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.inner {
    max-width: 880px;
    margin-inline: auto;
}

.logo__image {
    width: auto;
    height: 50%;
    flex-shrink: 0;
    /* transform: translateY(-2px); */
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.section-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(36 / 25);
}

.section-title::before,
.section-title::after {
    content: "";
    width: 2.55rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-image: url(../img/asiato-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.service__title {
    column-gap: 1.6rem;
}

span {
    display: inline-block;
    white-space: nowrap;
}

/*---------------
header
---------------*/
.header {
    width: 100%;
    height: 5rem;
    background: #fff;
    padding-inline: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

@media (max-width: 767px) {
    .header {
        padding-inline: 2rem;
    }
}

.header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: inherit; 
}

.header__link {
    height: inherit;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: calc(33 / 18);
    color: var(--color-text);
    display: flex;
    align-items: center;
    column-gap: 0.951rem;
}

.header__logo a {
    height: 5rem;
    display: flex;
    /* padding-top: 8px; */
    /* padding-bottom: 9px; */
    align-items: center;
    line-height: calc(33 / 18);
    font-size: 1.8rem;
    font-weight: 700;
    transition: opacity 0.4s;
}

@media (min-width: 768px) {
    .header__logo a:hover {
        opacity: 0.7;
    }
}

@media (max-width: 767px) {
    .header__logo a {
        font-size: 2rem;
    }
}

.header__nav ul {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header__nav ul li a {
    height: 5rem;
    display: flex;
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    align-items: center;
    line-height: calc(14 / 14);
    font-size: 1.4rem;
    font-weight: 700;
    transition: opacity 0.4s;
}

@media (min-width: 768px) {
    .header__nav ul li a:hover {
        opacity: 0.7;
    }
}

/*---------------
mv
---------------*/
.mv {
    position: relative;
}

.mv__image {
    aspect-ratio: 1080 /500;
    object-fit: cover;
}
@media (max-width: 767px) {
    .mv__image {
        aspect-ratio: 375 /550;
        object-fit: cover;
    }
}

.mv__contents {
    width: 45.56%;
    height: min(42%, 21rem);
    position: absolute;
    background: rgba(255, 255, 255, 0.72);
    top: 30.4%;
    left: 0;
    /* margin-top: 15.2rem; */
}

@media (min-width: 768px) {
    .mv__contents {
        padding-left:
            max(30px, calc((100% - 880px) / 2));
    }
}

@media (max-width: 767px) {
    .mv__contents {
        padding-left: 2rem;
        width: 31.1rem;
        height: 14.8rem;
        top: auto;
        bottom: 0;
        left: 0;
    }
}

.mv__catch p {
    font-size: min(
        calc(25 / 1080 * 100vw),
        2.5rem
    );
    font-weight: 700;
    line-height: calc(36 / 25);
    padding-top: min(
        calc(23 / 1080 * 100vw),
        2.3rem
    );
}

@media (max-width: 767px) {
    .mv__catch p {
        font-size: 2rem;
        line-height: calc(29 / 20);
        padding-top: 1.8rem;
    }
}

.mv__catch h2 {
    font-size: min(
        calc(40 / 1080 * 100vw),
        4rem
    );
    font-weight: 700;
    line-height: calc(60 / 40);
    color: var(--color-main);
    margin-top: min(
        calc(8 / 1080 * 100vw),
        0.8rem
    );
}

@media (max-width: 767px) {
    .mv__catch h2 {
        font-size: 3rem;
        line-height: calc(40 / 30);
        margin-top: 0.7rem;
    }
}

/*---------------
ご挨拶
---------------*/
.goaisatsu {
    padding: 6rem 3rem ;
    position: relative;
}

@media (max-width: 767px) {
    .goaisatsu {
        padding: 4.9rem 2rem 3.9rem;
    }
}

.goaisatsu__contents {
    margin-top: 1.5rem;
}

@media (max-width: 767px) {
    .goaisatsu__contents {
        margin-top: 1.7rem;
    }
}

.goaisatsu__title h2 {
    font-size: 3rem;
    line-height: calc(50 / 30);
    font-weight: 700;
    color: var(--color-main);
    text-align: center;
}

@media (max-width: 767px) {
    .goaisatsu__title h2 {
        font-size: 2.5rem;
        line-height: calc(35 / 25);
    }
}

.goaisatsu__contents p {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
    text-align: center;
}

@media (max-width: 767px) {
    .goaisatsu__contents p {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        text-align: left;
    }
}

.goaisatsu__contents p span {
    z-index: 500;
}

@media (max-width: 767px) {
    .goaisatsu__contents p span {
        display: inline;
        white-space: normal;
    }
}

.asiato__image {
    position: absolute;
    right: calc(
        max(3rem, calc((100% - 88rem) / 2))
        - 2.376rem
    );
    bottom: calc(6rem - 2.612rem);
    width: 8.375rem;
    z-index: 100;
    pointer-events: none;
}

@media (max-width: 767px) {
    .goaisatsu__contents {
        position: relative;
    }
    .asiato__image {
        right: 2.955rem;
        bottom: 4.657rem;
        width: 6.835rem;
    }
}

.asiato__image img {
    width: 100%;
    height: auto;
}

/*---------------
強み
---------------*/
.tsuyomi {
    padding: 6.4rem 3rem 6.8rem;
    background: var(--color-background);
}

@media (max-width: 767px) {
    .tsuyomi {
        padding: 5.1rem 2rem 3.5rem;
    }
}

.tsuyomi__contents {
    margin-top: 4.8rem;
    display: grid;
    row-gap: 5rem;
}

@media (max-width: 767px) {
    .tsuyomi__contents {
        margin-top: 4.2rem;
        row-gap: 4.2rem;
    }
}

.tsuyomi__item1 {
    display: grid;
    grid-template-columns: 
        minmax(0, 1fr)
        calc(440 / 880 * 100%);
    grid-template-areas: "textarea image";
    column-gap: calc(45 / 880 * 100%);
}

@media (max-width: 767px) {
    .tsuyomi__item1 {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "textarea";
    }
}
    
.tsuyomi__item2 {
    display: grid;
    grid-template-columns:
        calc(440 / 880 * 100%) 
        minmax(0, 1fr);
    grid-template-areas: "image textarea";
    column-gap: calc(45 / 880 * 100%);
}

@media (max-width: 767px) {
    .tsuyomi__item2 {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "textarea";
    }
}

.tsuyomi__textarea {
    grid-area: textarea;
    /* padding-top: calc(48 / 395 * 100%); */
    align-self: center;
}

@media (max-width: 767px) {
    .tsuyomi__textarea {
        align-self: auto;
    }
}

.tsuyomi__image {
    grid-area: image;
}

.tsuyomi__image img {
    aspect-ratio: 440 /247;
    object-fit: cover;
}

@media (max-width: 767px) {
    .tsuyomi__image img {
        aspect-ratio: 335 /200;
        object-fit: cover;
    }
}

.tsuyomi__textarea h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
}

@media (max-width: 767px) {
    .tsuyomi__textarea h3 {
        margin-top: 2.6rem;
        font-size: 2rem;
        line-height: calc(30 / 20);
        text-align: center;
    }
}

.tsuyomi__textarea p {
    margin-top: calc(19 / 395 * 100%);
    font-size: 1.8rem;
    line-height: calc(33 / 18);
}

@media (max-width: 767px) {
    .tsuyomi__textarea p {
        margin-top: 0.8rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
    }
    
}

/*---------------
サービス
---------------*/
.service {
    padding: 6.3rem 3rem 5.9rem;
}

@media (max-width: 767px) {
    .service {
        padding: 4.5rem 2rem 3.9rem;
    }
    
}

.service__contents {
    margin-top: 4.8rem;
}

@media (max-width: 767px) {
    .service__contents {
        margin-top: 4.4rem;
    }
    
}

.service__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(50 / 880 * 100%);
}

@media (max-width: 767px) {
    .service__items {
        grid-template-columns: 1fr;
        row-gap: 3.9rem;
    }
}

.service-item__image img {
    aspect-ratio: 260 / 200;
    object-fit: cover;
}

@media (max-width: 767px) {
    .service-item__image img {
        aspect-ratio: 335 / 200;
        object-fit: cover;
    }
}

.service-item__textarea {
    margin-top: 1.9rem;
}

@media (max-width: 767px) {
    .service-item__textarea {
        margin-top: 3rem;
    }
}

.service-item__textarea h3 {
    font-size: 2rem;
    line-height: calc(25 / 20);
    font-weight: 700;
    text-align: center;
}

@media (max-width: 767px) {
    .service-item__textarea h3 {
        margin-top: 3rem;
        line-height: calc(30 / 20);
    }
}

.service-item__textarea p {
    margin-top: 0.8rem;
}

@media (max-width: 767px) {
    .service-item__textarea p {
        margin-top: 0.7rem;
    }
}

/*---------------
お知らせ
---------------*/
.osirase {
    padding: 6.3rem 3rem 6.8rem;
    background: var(--color-background);
}

@media (max-width: 767px) {
    .osirase {
        padding: 4.3rem 2rem 5rem;
    }
}

.osirase__contents {
    margin-top: 4.6rem;
}

.osirase__list li {
    display: grid;
    grid-template-columns: 
        11.1rem
        18.4rem
        minmax(0, 1fr);
    column-gap: 2.5rem;
    align-items: center;
    text-align: left;
    /* padding-block: 1.5rem; */
}

@media (max-width: 767px) {
    .osirase__list li {
        grid-template-columns: 1fr;
    }
}

.osirase__date {
    padding-left: 1.9rem;
    font-weight: 700;
    line-height: calc(25 / 17);
}

@media (max-width: 767px) {
    .osirase__date {
        padding-left: 1rem;
        padding-top: 2.8rem;
    }
}

.osirase__list {
    border-top: 0.1rem solid var(--color-border);
}

.osirase__list li {
    border-bottom: 0.1rem solid var(--color-border);
}

.osirase__subject {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(25 / 20);
    color: var(--color-main);
}

@media (max-width: 767px) {
    .osirase__subject {
        padding-top: 0.2rem;
        padding-left: 1rem;
    }
}

.osirase_desc {
    line-height: calc(30 / 17);
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    /* padding-left: 0.95rem; */
}

@media (max-width: 767px) {
    .osirase_desc {
        font-size: 1.6rem;
        line-height: calc(24 / 16);
        padding-top: 0.5rem;
        padding-bottom: 2.7rem;
        padding-left: 0.95rem;
        padding-right: 1.05rem;
    }
}

/*---------------
アクセス
---------------*/
.access {
    padding: 6.3rem 3rem 7rem;
}

@media (max-width: 767px) {
    .access {
        padding: 4.3rem 2rem 5rem;
    }
}

.access__contents {
    margin-top: 4.6rem;
    display: grid;
    grid-template-columns: 
        calc(440 / 880 * 100%)
        minmax(0, 1fr);
    grid-template-areas: "image textarea";
    column-gap: calc(46 / 880 * 100%);
}

@media (max-width: 767px) {
    .access__contents {
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "textarea";
        row-gap: 3rem;
    }
}

.access__textarea {
    grid-area: textarea;
}

.access__image {
    grid-area: image;
}

.access__textarea h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: calc(33 / 22);
}

.address {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}

@media (max-width: 767px) {
    .address {
        margin-top: 1.2rem;
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}

.tel {
    display: flex;
    align-items: baseline;
    margin-top: 1.4rem;
}

@media (max-width: 767px) {
    .tel {
        margin-top: 0.6rem;
    }
}

.denwa {
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}

@media (max-width: 767px) {
    .denwa {
        font-size: 1.6rem;
        line-height: calc(27 / 16);
    }
}

.number {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: calc(40 / 25);
    color: var(--color-main);
}

.mail {
    margin-top: 0.8rem;
    margin-bottom: 2.7rem;
    font-size: 1.8rem;
    line-height: calc(27 / 18);
}

@media (max-width: 767px) {
    .mail {
        margin-top: 0.7rem;
        margin-bottom: 1.4rem;
        font-size: 1.6rem;
        line-height: calc(24 / 16);
    }
}

.mail span {
    transition: opacity 0.4s;
    cursor: pointer;
}

@media (min-width: 768px) {
    .mail span:hover {
        opacity: 0.7;
    }
}

.sinryo {
    font-size: 1.8rem;
    line-height: calc(40 / 18);
    padding-top: 1.5rem;
    padding-bottom: 1.4rem;
    padding-left: 0.4rem;
    border-top: 0.1rem solid var(--color-border);
    border-bottom: 0.1rem solid var(--color-border);
}

@media (max-width: 767px) {
    .sinryo {
        font-size: 1.6rem;
        line-height: calc(30
         / 16);
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        padding-left: 0;
    }
}

/*---------------
お問い合わせ
---------------*/
.contact {
    padding: 6.2rem 3rem 8rem;
    background: var(--color-background);
}

@media (max-width: 767px) {
    .contact {
        padding: 4.3rem 2rem 5rem;
    }
}

.contact__desc {
    margin-top: 2.5rem;
    line-height: calc(30 / 17);
    text-align: center;
}

@media (max-width: 767px) {
    .contact__desc {
        margin-top: 4.3rem;
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        text-align: left;
    }
}

.form {
    margin-top: 3.9rem;
}

@media (max-width: 767px) {
    .form {
        margin-top: 3.4rem;
    }
}

.form__item {
    display: flex;
    column-gap: 2.9rem;
    /* row-gap: 3rem; */
}

@media (max-width: 767px) {
    .form__item {
        display: block;
    }
}

.form__item:not(:first-of-type) {
    margin-top: 3rem;
}

@media (max-width: 767px) {
    .form__item:not(:first-of-type) {
        margin-top: 1.7rem;
    }
}

.form__label {
    font-size: 2rem;
    font-weight: 700;
    line-height: calc(33 / 20);
    width: 14rem;
    padding-top: 0.7rem;
}

@media (max-width: 767px) {
    .form__label {
        font-size: 1.8rem;
        line-height: calc(33 / 18);
        padding-top: 0;
        padding-bottom: 0.2rem;
    }
}

.form__input {
    flex: 1;
}

.form__textarea {
    flex: 1;
    line-height: 0;
}

input[type="text"],
input[type="email"] {
    background-color: #fff;
    height: 4rem;
    width: 100%;
    padding-inline: 1.5rem;
    font-size: 1.7rem;
}

@media (max-width: 767px) {
    input[type="text"],
    input[type="email"] {
        height: 5rem;
    }
}

textarea {
    background-color: #fff;
    height: 30rem;
    width: 100%;
    resize: none;
    padding: 1.5rem;
    font-size: 1.7rem;
    line-height: 1.6;
}

.contact__button {
    margin-top: 5rem;
    margin-inline: auto;
    width: 20rem;
}

@media (max-width: 767px) {
    .contact__button {
        width: auto;
        max-width: 33.5rem;
    }
}

input[type="submit"] {
    width: 100%;
    height: 5rem;
    background-color: var(--color-main);
    color: #fff;
    border: 1px solid var(--color-main);
    border-radius: 1rem;
    font-size: 2.5rem;
    line-height: calc(33 / 25);
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    /* padding-top: 1px; */
}

@media (max-width: 767px) {
    input[type="submit"] {
        font-size: 2rem;
        line-height: calc(26 / 20);
        height: 4.1rem;
    }
}

@media (min-width: 768px) {
    input[type="submit"]:hover {
        color: var(--color-main);
        background-color: #fff;
    }
}

/*---------------
フッター
---------------*/
.footer {
    padding: 6.6rem 3rem 7rem;
    background: var(--color-text);
    color: #fff;
    font-size: 2rem;
    line-height: calc(33 / 20);
    text-align: center;
}

@media (max-width: 767px) {
    .footer {
        padding: 4.5rem 2rem 5rem;
        font-size: 1.8rem;
        line-height: calc(33 / 18);
    }
}

.footer__content {
    max-width: 73.7rem;
    margin-inline: auto;
}

@media (max-width: 767px) {
    .footer__content {
        max-width: 33.5rem;
    }
}

.footer-nav {
    border-bottom: 0.1rem solid #fff;
}

.footer-nav__lists {
    display: flex;
    justify-content: center;
    column-gap: 1.4rem;
    padding-bottom: 2.1rem;
}

@media (max-width: 767px) {
    .footer-nav__lists {
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 0;
    }
    .footer-nav__list {
        flex-shrink: 0;
    }
    .footer-nav__link {
        white-space: nowrap;
    }
}

.footer__copyright {
    margin-top: 2.7rem;
}

@media (max-width: 767px) {
    .footer__copyright {
        margin-top: 1.5rem;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }
}

.sns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
    margin-top: 0.8rem;
}

@media (max-width: 767px) {
    .sns {
        width: 12.2rem;
        justify-content: space-between;
        column-gap: auto;
        margin-inline: auto;
        margin-top: 2.8rem;
    }
}

.sns__link img {
    width: 2.2rem;
}

.sns__link--insta img {
    width: 2rem;
}